# Virtual Environments
/Autom/
/venv/
.env

# Python and flask Caches
**/__pycache__/
instance/__pycache__/
Automobile/__pycache__/
flask_session/
*.py[cod]
*$py.class

# Database & Sessions
*.sql
*.session.sql
*.db
*.sqlite

# database migrations
/migrations/

# Translations
*.mo
*.pot

# pyenv
.python-version

