

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Base page
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>


<body>
    
    
    {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-md bg-dark">

            <div class="container-fluid ">
                <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon rounded"></span>
                </button>
        
                <a class="navbar-brand text-success d-lg-none d-sm-none" href="{{url_for('market_page')}}">Automobile</a>
        
                <div class="collapse navbar-collapse rounded text-black bg-white font-monospace" id="navbarNav">

                    <div class="container col-8">
                        <ul class="navbar-nav p-1">

                            <a class="navbar-brand text-success " href="{{url_for('market_page')}}">Automobile</a>
                
                            <li class="nav-item">
                                <a class="nav-link " href="{{url_for('market_page')}}">
                                    <strong>Market</strong>
                                </a>
                            </li>

                            <a class="nav-link" href="#" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ac8626" class="bi bi-coin" viewBox="0 0 16 16">
                                    <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                </svg>
                                : {{current_user.prettier_budget}}
                            </a>
                            
                          
                        </ul>

                        
                    </div>

                    <div class="col-4">
                        <ul class="navbar-nav p-1 d-flex justify-content-end" >
                            <li class="nav-item cust-m2">
                                <a class="nav-link  bg-success rounded" href="{{url_for('cart_page')}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="antiquewhite" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                </a>
                            </li>

                            <li class="nav-item cust-m">
                                <a class="nav-link bg-danger rounded" href="{{url_for('logout_page')}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="antiquewhite" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                    </svg>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    
                </div>           
            </div>

        </nav>

    {% else %}

        <nav class="navbar navbar-expand-md bg-dark">

            <div class="container-fluid ">
                <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon rounded"></span>
                </button>
        
                <a class="navbar-brand text-success d-lg-none d-sm-none" href="{{url_for('market_page')}}">Automobile</a>
        
                <div class="collapse navbar-collapse rounded text-black bg-white font-monospace" id="navbarNav">

                    <div class="container col-8">
                        <ul class="navbar-nav p-1">

                            <a class="navbar-brand text-success " href="{{url_for('market_page')}}">Automobile</a>
                
                            <li class="nav-item">
                            <a class="nav-link " href="{{url_for('market_page')}}">
                                <strong>Market</strong>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <ul class="navbar-nav p-1 d-flex justify-content-end" >
                            <li class="nav-item cust-m2">
                                <a class="nav-link  bg-success rounded" href="{{url_for('cart_page')}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="antiquewhite" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                </a>
                            </li>

                            <li class="nav-item cust-m">
                                <a class="nav-link bg-danger rounded"  href="{{url_for('logout_page')}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="antiquewhite" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                    </svg>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    
                </div>           
            </div>

        </nav>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="m1-2 mb-1 close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                    
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main class="font-monospace">
        {% block content %}

        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/message.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>