
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<body>
    
    {% if current_user.is_authenticated %}
        <nav class="navbar-expand bg-dark pt-3 px-4">
            <div class="container-fluid  p-2 rounded bg-white font-monospace row">
                <div class="col-10">
                    <a class="navbar-brand text-success mx-2" href="#" style="font-size:20px" id="auto">Automobile</a>
                </div>
                
                <div class="col text-success">
                <strong class="text-black">User: </strong> {{current_user.username}}
                </div>
            </div>

        </nav>
    
    {% else %}
        <nav class="navbar-expand bg-dark pt-3 px-4">
            <div class="container-fluid  p-2 rounded bg-white font-monospace row">
                <div class="col-10">
                    <a class="navbar-brand text-success mx-2" href="#" style="font-size:20px" id="auto">Automobile</a>
                </div>
            </div>

        </nav>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="m1-2 mb-1 close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main class="font-monospace">
        {% block content %}

        {% endblock %}
    </main>

    

    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/button.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/message.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>