
{% extends 'base.html' %}

{% block title %}
    Cart_page
{% endblock %}

{% block content %}

    <div class="container-fluid text-white pb-1 font-monospace" >
        <h4><strong>My Cart</strong></>
            <div class="row p-1">
                {% for item in cart_vehicle_details %}
                    {% include 'includes/cart_modal.html' %}
                                
                    <div class="col-md-4 mx-auto">
                        <div class="booking-cards mb-1 text-white text-dark rounded" style="border: 2px dotted " >
                            <div class="booking-card text-center py-3">
                                <p><strong>model:</strong> {{ item.model }}</p>
                                <p><strong>description:</strong> {{ item.description }}</p>
                                <p><strong>car_type:</strong> {{ item.car_type }}</p>         
                                <p><strong>price:</strong> ${{ item.price }}</p> 
                                
                                <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#removeModal{{ item.id }}">
                                    Cart -
                                </button>

                                <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ item.id }}">
                                    Purchase
                                </button>
                            </div>  
                        </div>

                    </div>

                    {% if loop.index % 2 == 0 %}
                        <div class="row">
                    {% endif %}
                             
                {% endfor %}                                 
    </div>

{% endblock %}
