
{% extends 'includes/base.html' %}

{% block title %}
    Market_page
{% endblock %}

{% block content %}

<div class="d-flex font-monospace text-white">
    <!-- left fixed bar -->
        <div class="col-lg-2 col-12 mb-3  text-center py-3 overflow-y-auto position-fixed " id="fix" style="left: 10px; background: linear-gradient( rgba(255, 254, 254, 0.281), transparent);">
            <div class="mx-auto" style="width: fit-content;">
              <h6>Vehicle Models</h6>
              <nav>
                    <ul class="navbar-nav m-auto " style="width: fit-content;">
                        <li class="nav-item">
                            <a  class="nav-link text-white" href="#bmw_section">
                                BMW
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link text-white" href="#mercedes_section">
                                Mercedes
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="#rover_section">
                                Rangerover
                            </a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link text-white" href="#audi_section" id="aud">
                              Audi
                          </a>
                      </li>
                      
                  </ul>

                </nav>
          </div>

          <div class=" py-2 mx-3">
            <h6>Filter Search</h6>
           
            <form class="mx-auto " method="post" action="{{url_for('filtered_page')}}">
              
              <label for="model">Model: </label>
              <input placeholder="i.e,bmw,audi..."  type="text" id="model" name="model" >
              
              <label for="price">Price(range): </label>             
              <input placeholder="i.e,from..." type="text" id="price" name="price" >
              <input placeholder="i.e,to..." type="text" id="price" name="price2">

              <label for="year">Year: </label>             
              <input placeholder="i.e,2020..." type="text" id="year" name="year">
                    
              <button type="submit" class="nav-link mx-5 rounded px-4 py-2 " title="search" style="background-color: #a3a3a3b7;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </button>

            </form>

          </div>

        </div>
        
 
        <!-- middle fixed bar -->
        <div class="col-lg-9 col-12 text-white text-center ms-auto me-4">
            
          <div class="" id="bmw_section">
                <!-- <h4><strong>BMW</strong></h4> -->
                <div class="container-fluid row ">                             
                    <div class="col ">
                        <div class="mt-1" style="height: 72vh;">
                            <div id="carouselExampleControls" class="m-1 carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner p-1">
                                  <div class="carousel-item active">
                                    <img class="d-lg-block w-100 rounded-3"  src="static/images/bmwm4_01.jpg" style="height: 70vh;">
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <img class="d-lg-block w-100  rounded-3" src="static/images/bmw_6.jpg" style="height: 70vh;">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-lg-block w-100  rounded-3" src="static/images/bmw_09.jpg" style="height: 70vh;">
                                  </div>          
                                </div>
                              </div>
                        </div>

                        <div class=" mt-1">
                          <div class="row">                          
                            
                            {% for vehicle in cars_by_type['bmw'] %}
                            <!-- always add the includes file right after the loop -->
                              {% include 'includes/market_modal.html' %} 
                              <div class="col-md-4 " >
                                <div class="booking-cards w-100  my-2 text-white rounded mx-auto "  >
                                  <div class="bg-dark-subtle text-dark m-1 rounded-2" style="height: 200px;">
                                      <img class="w-100 h-100 rounded-2" src="{{vehicle.image_link}}">                                   
                                  </div>
                                  <div class="booking-card text-center py-3 rounded-1 onhover">
                                      <p><strong>model:</strong> {{ vehicle.model }}</p>
                                      <p><strong>description:</strong> {{ vehicle.description }}</p>
                                      <p><strong>price:</strong> ${{ vehicle.price }}</p>
                                      
                                      {% if vehicle.vehicle_units == 0 %}
                                        <p class="text-warning"><strong>units:</strong> None </p>

                                        <button type="button" class="btn btn-secondary disabled mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                          Cart +
                                        </button>                                      

                                        <button type="button" class="btn btn-success disabled mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                          Purchase
                                        </button>
                                        
                                      {% else %}
                                        <p><strong>units:</strong>  {{ vehicle.vehicle_units}}  </p>

                                        <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                          Cart +
                                        </button>                                      

                                        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                          Purchase
                                        </button>                                  
                                      {% endif %}

                                      
                                  </div>
                                </div>
                              </div>
                                                                        
                              {% if loop.index % 3 == 0 %}
                                </div> <div class="row">
                              {% endif %}
                        
                            {% endfor %}
                            

                        </div>
                       
                  </div>
                </div>

                <div class="col-1 mx- text-white" id="bmw" >
                  <h4>BMW</h4>
                </div>
            
            </div>

            <div class="my-3 " id="mercedes_section" >
                <!-- <h4><strong>MERCEDES</strong></h4> -->
                <div class="container-fluid row">                   

                    <div class="col " >
                        <div class="mt-1" style="height: 72vh; ">
                            <div id="carouselExampleControls" class="m-1 carousel-slide" data-bs-ride="carousel">
                                <div class="carousel-inner p-1">
                                  <div class="carousel-item active">
                                    <img class="d-lg-block w-100  rounded-3"  src="static/images/benz_01.jpg" style="height: 70vh;">
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <img class="d-lg-block w-100  rounded-3" src="static/images/benz_03.jpg" style="height: 70vh;">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-lg-block w-100  rounded-3" src="static/images/g-wagon_01.jpg" style="height: 70vh;">
                                  </div>          
                                </div>
                              </div>
                        </div>

                        <div class=" mt-1">
                          <div class="row ">                         
                            {% for vehicle in cars_by_type['mercedes'] %}
                              {% include 'includes/market_modal.html' %}
                              <div class="col-md-4">
                                <div class="booking-cards w-100 my-2 text-white rounded mx-auto ">
                                  <div class="bg-dark-subtle text-dark m-1 rounded-2" style="height: 200px;">
                                    <img class="w-100 h-100 rounded-2" src="{{vehicle.image_link}}">
                                  </div>
                                  <div class="booking-card text-center py-3 rounded-1 onhover">
                                      <p><strong>model:</strong> {{ vehicle.model }}</p>
                                      <p><strong>description:</strong> {{ vehicle.description }}</p>
                                      <p><strong>price:</strong> ${{ vehicle.price }}</p>
                                                                           
                                      {% if vehicle.vehicle_units == 0 %}
                                        <p class="text-warning"><strong>units:</strong> None </p>

                                        <button type="button" class="btn btn-secondary disabled mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                          Cart +
                                        </button>                                      

                                        <button type="button" class="btn btn-success disabled mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                          Purchase
                                        </button>
                                        
                                      {% else %}
                                        <p><strong>units:</strong>  {{ vehicle.vehicle_units}}  </p>

                                        <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                          Cart +
                                        </button>                                      

                                        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                          Purchase
                                        </button>                                  
                                      {% endif %}
                                      
                                  </div>
                                </div>
                              </div>
                                         
                              {% if loop.index % 3 == 0 %}
                                </div> <div class="row">
                              {% endif %}
                              
                            {% endfor %}
                            
                        </div>
                  </div>
                </div>

                <div class="col-2 mx-3 text-white" id="merc">
                  <h4>MERCEDES BENZ</h4>
                </div>

            </div>

            <div class="my-3 " id="rover_section">
                <!-- <h4><strong>RANGEROVER</strong></h4> -->
                <div class="container-fluid row">

                    <div class="col" >
                        <div class="mt-1" style="height: 72vh; ">
                            <div id="carouselExampleControls" class="m-1 carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner p-1">
                                  <div class="carousel-item active">
                                    <img class="d-lg-block w-100  rounded-3"  src="static/images/range_01.jpg" style="height: 70vh;">
                                  </div>
                                  
                                  <div class="carousel-item">
                                    <img class="d-lg-block w-100  rounded-3" src="static/images/range_02.jpg" style="height: 70vh;">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-lg-block w-100  rounded-3" src="static/images/range_03.jpg" style="height: 70vh;">
                                  </div>          
                                </div>
                              </div>
                        </div>

                        <div class="mt-1">
                          <div class="row">
                            {% for vehicle in cars_by_type['rangerover'] %}
                              {% include 'includes/market_modal.html' %}
                              <div class="col-md-4">
                                <div class="booking-cards w-100 my-2 text-white rounded mx-auto ">
                                  <div class="bg-dark-subtle text-dark m-1 rounded-2" style="height: 200px;">
                                    <img class="w-100 h-100 rounded-2" src="{{vehicle.image_link}}">
                                  </div>
                                  <div class="booking-card text-center py-3 rounded-1 onhover">
                                      <p><strong>model:</strong> {{ vehicle.model }}</p>
                                      <p><strong>description:</strong> {{ vehicle.description }}</p>
                                      <p><strong>price:</strong> ${{ vehicle.price }}</p>
                                                                            
                                      {% if vehicle.vehicle_units == 0 %}
                                        <p class="text-warning"><strong>units:</strong> None </p>

                                        <button type="button" class="btn btn-secondary disabled mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                          Cart +
                                        </button>                                      
      
                                        <button type="button" class="btn btn-success disabled mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                          Purchase
                                        </button>

                                      {% else %}
                                        <p><strong>units:</strong>  {{ vehicle.vehicle_units}}  </p>

                                        <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                          Cart +
                                        </button>                                      

                                        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                          Purchase
                                        </button>                                  
                                      {% endif %}

                                  </div>
                                </div>                                
                              </div>                              

                              {% if loop.index % 3 == 0 %} <!-- Check if three vehicles have been displayed -->
                                </div><div class="row"> <!-- Close the current row and start a new one -->
                                  
                              {% endif %}
                              
                            {% endfor %}                            
                                                    
                        </div>
                  </div>
                </div>

                <div class="col-2 mx-3 text-white" id="audi"  >
                  <h4>RANGEROVER</h4>
                </div>
                
            </div>

        </div>

        <div class="my-3 " id="audi_section">
          <!-- <h4><strong>AUDI</strong></h4> -->
          <div class="container-fluid row">  

              <div class="col">
                  <div class="mt-1" style="height: 72vh;">
                      <div id="carouselExampleControls" class="m-1 carousel-slide" data-bs-ride="carousel">
                          <div class="carousel-inner p-1">
                            <div class="carousel-item active">
                              <img class="d-lg-block w-100  rounded-3"  src="static/images/audi_03.jpg" style="height: 70vh;">
                            </div>
                            
                            <div class="carousel-item">
                              <img class="d-lg-block w-100  rounded-3" src="static/images/audi_04.jpg" style="height: 70vh;">
                            </div>
                            <div class="carousel-item">
                              <img class="d-lg-block w-100  rounded-3" src="static/images/audi_09.jpg" style="height: 70vh;">
                            </div>          
                          </div>
                        </div>
                  </div>

                  <div class=" mt-1">
                    <div class="row">                          
                      {% for vehicle in cars_by_type['audi'] %}
                      <!-- always add the incluudes file right after the loop -->
                        {% include 'includes/market_modal.html' %} 
                        <div class="col-md-4">
                          <div class="booking-cards w-100  my-2 text-white rounded mx-auto ">
                            <div class="bg-dark-subtle text-dark m-1 rounded-2" style="height: 200px;">
                              <img class="w-100 h-100 rounded-2" src="{{vehicle.image_link}}">
                            </div>
                            <div class="booking-card text-center py-3 rounded-1 onhover">
                                <p><strong>model:</strong> {{ vehicle.model }}</p>
                                <p><strong>description:</strong> {{ vehicle.description }}</p>
                                <p><strong>price:</strong> ${{ vehicle.price }}</p>

                                {% if vehicle.vehicle_units == 0 %}
                                  <p class="text-warning"><strong>units:</strong> None </p>

                                  <button type="button" class="btn btn-secondary disabled mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                    Cart +
                                  </button>                                      

                                  <button type="button" class="btn btn-success disabled mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                    Purchase
                                  </button>
                                  
                                {% else %}
                                  <p><strong>units:</strong>  {{ vehicle.vehicle_units}}  </p>

                                  <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#cartModal{{ vehicle.id }}">
                                    Cart +
                                  </button>                                      

                                  <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ vehicle.id }}">
                                    Purchase
                                  </button>                                  
                                {% endif %}

                            </div>
                          </div>
                        </div>
                                                                  
                        {% if loop.index % 3 == 0 %}
                          </div> <div class="row">
                        {% endif %}
                  
                      {% endfor %}
                      

                  </div>
                 
            </div>
          </div>

          <div class="col-2 mx-3 text-white" id="bmw" >
            <h4>AUDI</h4>
          </div>
      
      </div>
        
</div>
    

{% endblock %}

