
{% extends 'includes/base.html' %}

{% block title %}
   Orders
{% endblock %}

{% block content %}
    <div class="container-fluid text-white pb-1 ">
        
        <h5><strong>Orders</strong></h5>
            <div class="m-2 mb-3 text-center">
                <form method="post" action="{{url_for('purchases_page')}}">
                    <input type="hidden" name="remove_purchased_vehicle" >                
                    <button type="button" class="btn btn-danger ">Clear items</button>
                </form>                
            </div>

            <hr>
            
            <div class="row p-1 mx-auto" style="width: 95%;">                             
                {% for item in purchased_vehicle_details %}
                    <!-- <div class="col-md-4 mx-auto">
                        <div class="booking-cards  mb-1 text-white text-dark rounded " style="background: linear-gradient( #ffffff23, transparent)">
                            <div class="booking-card text-center py-3">
                                <p><strong>model:</strong> {{ item.model }}</p>
                                <p><strong>description:</strong> {{ item.description }}</p>
                                <p><strong>car_type:</strong> {{ item.car_type }}</p>         
                                <p><strong>purchased @</strong> ${{ item.price }}</p>         
                            </div>  

                            <a class="nav-link m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#46ad5cc9" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                                </svg>
                                
                                 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#46ad5cc9" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                </svg> 
                            </a>          
                                                      
                                                                           
                        </div>
                            
                    </div> -->

                    <div class="booking-cards my-2 mx-auto border" style="width: 42%;" >
            
                        <div class="booking-card text-left py-3">
                            
                            <p><strong>Order Date:</strong> </p>
                            <p><strong>Order status:</strong> Pending... </p>
                            <div >
                               <strong> vehicle details </strong>
                                <details class="m-auto rounded p-1 pe-2" style="cursor: pointer; width: fit-content;background-color: #444b5a ">
                                    Brand: {{ item.car_type }} <br>
                                    Model: {{ item.model }} <br>                                    
                                    Description: {{ item.description }}
                                </details>
                            </div>
    
                        </div>                
                    </div> 


                    {% if loop.index % 2 == 0 %}
                        </div> <div class="row mx-auto" style="width: 95%; ">
                    {% endif %}
                                
                {% endfor %}   
                
    </div>

{% endblock %}