
{% extends 'base2.html' %}
{% block title %}
    signup_page
{% endblock %}

{% block content %}

<body class="bd">

    <div id="container">
        <a class="navbar-brand text-success" href="#">Automobile</a>
        <h2>Signup Form</h2>
        <!-- onsubmit="return validateForm()" -->
        <form id="signupForm" >
            <label for="username">Username:</label>
            <!-- required property -->
            <input type="text" id="username" name="username"required > 

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <P><Strong>Have an account?</Strong></P>
            <a class="btn bg-secondary text-white" href="{{url_for('login_page')}}">
                Login
            </a>


            <input type="submit" value="Signup">
        </form>
    </div>

    <!-- <script>
        function validateForm() {
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            // Simple validation
            if (username === "" || email === "" || password === "") {
                alert("Please enter all fields");
                return false;
            }
            return true;
        }
    </script> -->

    </body>

{% endblock %}