
{% extends 'base2.html' %}
{% block title %}

{% endblock %}

{% block content %}
    <body>
       

        <div class="container-fluid bg-dark text-white" style="height:100vh">

            <div class="container text-center w-25" style="transform: translateY(40vh);">
                
                
            <div class="text-white" id="shadow"><h4 ><strong>Automobile</strong></h4></div> 
                
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>        
                
               
            </div>

        </div>
    </body>

{% endblock %}

   

