
.nav-item a{
    color: black;
    
}
.cust-m{
    margin-left: 3%;
}
.cust-m2{
    margin-right: 30%;
}
.progress-bar{
   animation: fillWidht 10s linear forwards;
}
@keyframes fillWidht {
    0%{
        width: 0%;
    }
    25%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 75%;
    }
    80%{
        width: 80%;
    }
    90%{
        width: 90%;
    }
    100%{
        width: 100%;
    }

}

#key{
    animation: rotateOnce 2s linear 5 forwards;
}
@keyframes rotateOnce {
    0%{
        color: rgb(206, 209, 208);
    }    
    100%{
        color: #037209;
        text-align: right; 
    }
}

#shadow h4 strong{
    text-shadow: 0 0 2px  #f0f8ff; /* Horizontal offset, vertical offset, blur radius, and color */
}
#bmw,#audi,#merc,#rangerover{
    height: 100vh; width: 10%;
    writing-mode: vertical-rl; /* vertical right-to-left */
    text-orientation: upright; /* Ensures the text orientation is upright */
    background: #928f8fb6;
    text-shadow: 0 0 2px  #f0f8ff;
}

#bmw h4, #merc h4, #audi h4{
    text-shadow: 0 0 1px  #04533cd0;    
}

.bd{
    background: rgb(39, 38, 38);
    font-family: monospace;
}

#container {
    width: 300px;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}


