{% extends 'includes/base.html' %}

{% block title %}
   Payment_gateway
{% endblock %}

{% block content %}
<div class="payment-form mt-5 mb-5">
    <a class="navbar-brand text-success" href="#">Automobile</a>
    <h2>Transfer Funds</h2>

    <form action="/process_payment" method="POST">
        <p>Select bank of choice for fund transfer: </></p>

        <div class="row p-2 mb-2 mx-1 rounded" >
            <div class="col m-1 p-2 " >
                <div class="form-check m-5">
                    <input class="form-check-input bg-dark" type="radio" name="" value=""  id="textboxalter"> 
                    <label class="form-check-label ">KCB</label><br>
                </div>
                
                <div class="form-check m-5">
                    <input class="form-check-input bg-dark" type="radio" name="" value=""  id="textboxalter"> 
                    <label class="form-check-label ">Standard Chartered</label>
                </div>
                
            </div>

            <div class="col m-1 p-2">
                <div class="form-check m-5">
                    <input class="form-check-input bg-dark" type="radio" name="" value=""  id="textboxalter"> 
                <label class="form-check-label">Cooperative Bank</label><br>
                </div>
                
                <div class="form-check m-5">
                    <input class="form-check-input bg-dark" type="radio" name="" value=""  id="textboxalter"> 
                    <label class="form-check-label">I&M Bank</label>
                </div>
               
            </div>
        </div>
        
        <button type="submit" class="w-50 mt-4" style="margin-left: 25%;">Next</button>
    </form>

</div>


    <!-- <div class="payment-form">
        <h2>Payment Form</h2>

        <form action="/process_payment" method="POST">
            <div class="form-group">
                <label for="card-name">Cardholder's Name</label>
                <input type="text" id="card-name" name="card_name" placeholder="John Doe" required>
            </div>

            <div class="form-group">
                <label for="card-number">Card Number</label>
                <input type="text" id="card-number" name="card_number" placeholder="1234 5678 9012 3456" required pattern="[0-9]{13,19}" title="Please enter a valid card number.">
            </div>

            <div class="form-group">
                <label for="expiry-date">Expiration Date</label>
                <div class="small-input">
                    <input type="text" id="expiry-month" name="expiry_month" placeholder="MM" required pattern="[0-9]{2}" title="Enter the two-digit month.">
                </div>
                <div class="small-input">
                    <input type="text" id="expiry-year" name="expiry_year" placeholder="YY" required pattern="[0-9]{2}" title="Enter the two-digit year.">
                </div>
            </div>

            <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="password" id="cvv" name="cvv" placeholder="123" required pattern="[0-9]{3,4}" title="Enter the three or four-digit CVV.">
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" id="amount" name="amount" placeholder="$100.00" required pattern="^\$\d+(\.\d{2})?$" title="Please enter a valid amount in dollars.">
            </div>
            
            <button type="submit">Submit Payment</button>
        </form>

    </div> -->
{% endblock %}





